// couleur du projet
$cd-primary: #9356DC;
$cd-secondaire: #FF79DA;
$cd-tertiaire: #99E2D0;

// police du projet 
$cd-txt:'Shrikhand', sans-serif;
$cd-police: 'Roboto', sans-serif;

// margin du site 
$cd-margin: 20px;