// début du code
body{
    background: #fff;
}
// section 1
.info{
  padding-bottom: 40px;
  background-color:  #f6f6f6;
  font-family: $cd-police;
  display: flex;
  flex-direction: column;

  &-titre{
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
  }
  &-prefaxe{
    text-align: center;
    padding: 14px 0;
  }
  &-btn{
    border: none;
    width: 50%;
    margin: 0 auto;
    padding: 14px;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient($cd-secondaire, $cd-primary);
    box-shadow: 4px 4px 4px #d2d2d2;
    font-weight: bold;
  }
}