// début du code
body{
    background: #fff;
}
// section 1
.info{
  padding-bottom: 40px;
  background-color:  #f6f6f6;
  font-family: $cd-police;
  display: flex;
  flex-direction: column;

  &-titre{
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
  }
  &-prefaxe{
    text-align: center;
    padding: 14px 0;
  }
  &-btn{
    border: none;
    width: 50%;
    margin: 0 auto;
    padding: 14px;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient($cd-secondaire, $cd-primary);
    box-shadow: 4px 4px 4px #d2d2d2;
    font-weight: bold;
  }
}
.choice{
  margin-left: 16px;

  &-title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.24em;
  }

  &-btn1{
    text-align: center;
    position: relative;
  }

  &-btn3 li{
    padding: 18px 40px;
    background-color: #fff;
    margin: 30px 12px;
    border-radius: 14px;
    box-shadow: 3px 3px 3px grey;
  }

  &-btn4 li{
    padding: 18px 40px;
    background-color: #fff;
    margin: 30px 12px;
    border-radius: 14px;
    box-shadow: 3px 3px 3px grey;
  }

  &-btn5 li{
    padding: 18px 40px;
    background-color: #fff;
    margin: 30px 12px;
    border-radius: 14px;
    box-shadow: 3px 3px 3px grey;
  }

  &-btn2{
    position: absolute;
    left: -1px;
    border-radius: 50%;
    background-color: $cd-primary;
    padding: 5px;
    height: 16px;
    width: 4.4%;
    color: #fff;
  }
}

.fa-mobile-alt{
  margin-right: $cd-margin;
}
.fa-list-ul{
  color: grey;
  margin-right: 20px;
}
.fa-store{
  margin-right: $cd-margin;
  color: $cd-primary;
}