#header{
    font-family: $cd-txt;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 0 #d5d5d5;
    position: relative;
}
#header img{
    width: 40%;
}
.header-info{
    text-align: center;
    margin-top: 2px;
    background-color: #eaeaea;
    padding:  0.75em 0;
    font-family: $cd-police;
}
.fa-map-marker-alt{
    margin-right: 1.625em;
}
.fa-arrow-left{
    position: absolute;
    left: 20px;
    top: 24px;
}